body {

  background: white;
  font-family: 'robotomedium';
  min-height:100vh;
  min-width:99vw;
  margin: 0px;
  padding-bottom: 100px;
}

*:focus {
  outline-offset: 0px;
  outline-style: none !important;
}

.application{
  padding-top:60px;
}


.inline-block{
  display: inline-block;
}
