body {
  background-color: #EFEFEF;
  font-family: 'robotomedium';
}

*:focus {
  outline-offset: 0px;
  outline-style: none !important;
}

.application{
  padding-top:60px;
}


.inline-block{
  display: inline-block;
}
