$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import './base/branding';
@import './base/stockdata';
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import './fonts/material_icons';
@import './fonts/roboto';
@import './modules/notification';
@import './modules/autoSuggest';
@import './modules/spinners';
@import './components/sectorComponent';
@import './components/stockCard';

body {
  background-color: #EFEFEF;
  font-family: 'robotomedium';
}

.profitColor{
  color:$mGreen350;
}

.lossColor{
  color:$pastelRedDark;
}

.currency-selection {
  position: fixed;
  width: 100px;
  top: 20px;
  right: 20px;
}

.page-header {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

.jumbotron {
  padding-top: 25px;
  padding-bottom: 0px;
}

.tab-content {
  padding-top: 30px;
  background-color: white;
  position: relative;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;

  .row {
    width: 100%;
  }
}

.hideCal {
  display: none !important;
}

.importer .DayPicker {
  padding-top: 15px;
  position: absolute;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .8) !important;
  z-index: 2;
  width: 100%;
}

.calendarPicker {
  position: relative;
  width: 100%;
}

.topMenu {
  margin-bottom: 20px;
}

.importer {
  text-align: right;
  position: relative;
  .panel {
    text-align: left;
  }
  textarea {
    height: 500px;
    margin-top: 10px;
  }
  .tab-pane {
    padding: 2%;
  }

  .form-group {
    margin-bottom: 0px;
  }

  .IBimport .btn {
    margin-top: 10px;
    float: right;
  }

  .btn {
    display: inline-block;
  }
  padding: 2%;

  .addMoreButton {
    margin-top: 0px;
    float: right;
    margin-bottom: 10px;
  }
}

*:focus {
  outline-offset: 0px;
  outline-style: none !important;
}

.singlestock-panel {

  a:hover, a:focus{
    text-decoration: none;
  }
  a:hover {
    opacity: .75;
  }
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  .panel-title {
    font-size: 20px;
  }
  .stockName {
    margin-left:10px;
    font-size: 16px;
    color: rgba(0, 0, 0, .5);
  }

  .profitLoss {
    margin-top:1px;
   float:right;
    color: #999;
    opacity: 1;
    font-size: 18px;

    .label{
      font-weight: 100;

    }
  }

  .sector{
    margin-left: 20px;
    color:black;
    opacity: .7;
  }
}

.translation_debug{
  color: red;
  z-index:10;
}


.portfolio-page{

  top:25px;
  position: relative;

  .btn-toolbar{
    .btn{
      line-height:15px;
      font-size: 15px;

    }
  }

  .portfolioOverview{
    .container {
      padding:0px;
      margin-top:25px;
    }
  }

  .sorter{
    right: -15px;
    top: -3px;
    position: absolute;
  }
}


