$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: #EFEFEF;
}

.currency-selection{
    position: fixed;
    width: 100px;
    top: 20px;
    right:20px;
}
.page-header{
    width:500px;
    margin-left: auto;
    margin-right: auto;
}

