doctype html
html
    head
        meta(charset="UTF-8")
        title= '60+ project'
    body
        block content
    #app
    script(type='text/javascript').
        window.userLang = '#{userLang}';
    script(src='/dist/vendor.bundle.js')
    script(src='/dist/app.min.js')
