
.portfolio-page {

  top: 25px;
  position: relative;

  .btn-toolbar {
    .btn {
      line-height: 15px;
      font-size: 15px;

    }
  }

  .portfolioOverview {
    .container {
      padding: 0px;
      margin-top: 25px;
    }
  }

  .filter {
    display: inline-block;
  }
  .sorter {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -12px;

    .btn{
      padding: 4px 10px;
    }
  }

  .checkBoxes{
    display: inline-block;
    position: relative;
    margin-left:10px;
    top:-10px;
  }
}

