
.technology{
  background-color: $mBlue600 !important;
}
.healthcare{
  background-color: $mGreen200 !important;
}
.consumerservices{
  background-color: $colorSmSecondaryOrange !important;
}
.capitalgoods{
  background-color: $mPurple200 !important;
}
.consumerdurables{
  background-color: $mPink300 !important;
}
.na{
  background-color: $grayLight !important;
}
.finance{
  background-color: $pastelGreen !important;
}
.miscellaneous{
  background-color: $mBlue600 !important;
}
.consumernondurables{
  background-color: $mOrange800 !important;
}
.energy{
  background-color: $mRed500 !important;
}
.publicutilities{
  background-color: $mBlue300 !important;
}
.basicindustries{
  background-color: $pastelRed !important;
}
.transportation{
  background-color: $blueLight !important;
}
