
.dividend_page{
  margin-top:25px;
  text-align: center;

  .fixedDataTableLayout_main.public_fixedDataTable_main{
    text-align: left;
    display: inline-block;
  }

  .dividend_summary{
    width: 800px;
    display: inline-block;
    text-align: left;
    margin-top:15px;
  }
}

