.news_module {
  position: relative;
  .filter {
    position: absolute;
    top: 70px;
  }
  .news_item_list {
    margin-top: 15px;
    margin-left: 105px;
  }

  .news_item:nth-child(odd) { background: #f0f0f0; }

  .news_item{
    border-radius: 0px;
    a{
      cursor: pointer;
    }
    transition: height .1s ease 0s;

    border: lightgrey 1px solid;
    border-bottom: none;
    border-top:none;

    overflow: hidden;
    height: 25px;
    width:auto;
    padding: 3px;
    background-color: white;

    .stockName {
      display: inline-block;
      margin-left: 20px;
      width:60px;
      font-size: 14px;
      color: rgba(0, 0, 0, .5);
    }

    .title{
      margin-left: 10px
    }

    .date{
      display: inline-block;
      float:right;
    }
    .bottom{
      padding:15px;
    }


  }

  .news_item:nth-child(2) {
    border-top: lightgrey 1px solid;;
  }

  .news_item:last-child {
    border-bottom: lightgrey 1px solid;;
  }

  .news_item:hover{
    transition: height .1s ease 0s;
    margin-top:0px;
    margin-bottom:0px;
    background-color: white;
    height:120px;
  }

}
