
.portfolio-page {

  top: 25px;
  position: relative;

  .c3{
    width: 99%;
  }
  .btn-toolbar {
    .btn {
      line-height: 15px;
      font-size: 15px;

    }
  }



  .filter {
    display: inline-block;
  }
  .sorter {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -12px;

    .btn{
      padding: 4px 10px;
    }
  }

  .checkBoxes{
    display: inline-block;
    position: relative;
    margin-left:10px;
    top:-10px;
  }

  .portfolio-summary{
    display: block;
   margin-left:25%;
    margin-right:25%;
  }
}

.protfolio_chart_menu{

  text-align: center;
  .btn-toolbar .btn{
    font-size:12px;
  }

  .btn-toolbar{
    display: inline-block;
  }
}

